body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.fixed-button {
    position: fixed;
    top: 60vh;
    left: 76vw;
}

.fixed-image {
    position: fixed;
    top: 55vh;
    left: 80vw;
    height: 50vh;
}

.nav-bg {
    background: #23074d;
    background: linear-gradient(to right, #66007fb1, #0138ae, #13785d);
}

.fixed-logo {
    position: fixed;
    top: 50vh;
    left: 5vw;
}

.separator {
    border-left: 1px solid #ddd;
    height: 100%;
}

.btn-margin {
    margin-top: 300px
}

.DA_FARE {
    background-color: red;
}

.IN_CORSO {
    background-color: rgb(188, 119, 0);
}

.COMPLETATO {
    background-color: rgb(0, 123, 76);
}

footer{
    background-color: #4b4b4b6f;
    text-align: center;
    margin-top: 200px;
}



.foot_button{
    background-color: #1146ae;
}
