body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color:  #131b2d;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-reset {
    background-color: transparent;
}

.card-bg {
    background-color: #1f2940;
}

.nav-bg {
    
    background: linear-gradient(to left, rgba(113, 0, 139, 0.5), rgba(1, 56, 174, 0.5), rgb(19, 27, 45));

}



.btn-blue {
    background: linear-gradient(to right, rgb(24, 1, 103), rgb(33, 93, 224));
    border: none;

}
.btn-purple {
    background: linear-gradient(to right, rgb(155, 1, 169), rgb(95, 0, 78));
    border: none;

}

.btn-orange {
    background: linear-gradient(to right, rgb(195, 166, 0), rgb(95, 65, 0));
    border: none;

}


.btn-red {
    background: linear-gradient(to right, rgb(233, 1, 1), rgb(95, 0, 0));
        border: none;

}


.btn-margin {
    margin-top: 270px
}

.profile-bg {
    background-color: #1d3065
    
}

.custom-form-control {
    background-color: rgba(0, 0, 0, 0.20);
    border: none;
   
    color: #ffffff;
  
}
.btn-profile {
    margin-top: 200px;
}


.fixed-logo {
    position: fixed;
    top: 50vh;
    left: 5vw;
}

.separator {
    border-left: 1px solid #ddd;
    height: 100%;
}


.no-color-table thead th,
.no-color-table tbody td {
    background-color: transparent;
    color: inherit;
}

.no-color-table {
    background-color: transparent;
    border: none;
}

.no-color-table thead th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6)
    /* Solo bordatura inferiore per intestazione */
}




.DA_FARE {
    background-color: red;
}

.IN_CORSO {
    background-color: rgb(188, 119, 0);
}

.COMPLETATO {
    background-color: rgb(0, 123, 76);
}

 
footer {
    background-color: #4b4b4b6f;
    text-align: center;
    margin-top: 200px;
}


